@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
    system-ui, ui-sans-serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  /* Semantic colors */
  /* - neutral */
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-neutral-950: var(--color-gray-950);
  /* - primary */
  --color-primary-50: var(--color-sky-50);
  --color-primary-100: var(--color-sky-100);
  --color-primary-200: var(--color-sky-200);
  --color-primary-300: var(--color-sky-300);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
  --color-primary-700: var(--color-sky-700);
  --color-primary-800: var(--color-sky-800);
  --color-primary-900: var(--color-sky-900);
  --color-primary-950: var(--color-sky-950);

  --Sidebar-width: 280px;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
