@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
    system-ui, ui-sans-serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --Sidebar-width: 280px;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
